#formEditorBody{
}

#formEditor{
	width: 500px;
	height:300px;
	float:left;	
}

#formEditorToolbox{
	width:300px;
	padding:20px;
	float:right;
	border: 1px solid #eee;
	border-radius: 5px;
	background: -moz-linear-gradient(#fff, #ddd);
	box-shadow: 2px 1px 0px 3px #ccc;
}

#formEditorToolbox .boxTitle{
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
	background: -moz-linear-gradient(#fff, #ddd);
	padding: 10px;
	border-bottom:1px solid #eee;
}

.postbox .inside{
	overflow:hidden;
}

div.sampleInputElement{
	border: 1px solid #aaa;
	border-radius: 10px;
	padding:8px;
	cursor:pointer;
	box-shadow: inset 0px 1px 3px 0px #aaa;
	
	background: #fff;
	background: -moz-linear-gradient(#fff, #ddd);
	background: -o-linear-gradient(#252525, #0a0a0a);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a));
	background: -webkit-linear-gradient(#252525, #0a0a0a);
	
	overflow: hidden;	
}

div.sampleInputElement .title{
    float: left;
    font-weight: bold;
    padding-top: 10px;
    width: 200px;
}

.sampleInputElement .descriptionBoxButton{ 
	width:32px;
	height:32px;
	background-image:url('icons/help.png');
	background-repeat:no-repeat;
	float:right;
	opacity:0.5;
}

.sampleInputElement .descriptionBoxButton:hover{
	opacity:1;
}

div.sampleInputElement div.descriptionBox{
	display:none;
    float: left;
    width: 100%;	
}

.dropEvent{
	background-color:red;
}


.formPage{
    /*background: none repeat scroll 0 0 red;*/
    height: 200px;
    width: 500px;	 
}

#formInputElements ul li{
	display: block;
	width: 100%;
	float: left;
}

#formInputElements div.inputElement{
	width:200px;
	height:32px;
	float:left;
	padding:5px 0px 5px 0px;
}

div.options{
	width:32px;
	height:32px;
	background-image:url('icons/tools.png');
	background-repeat:no-repeat;
	cursor: pointer;
	float:right;
}
#windowWrapper{
	display: none;
}
#currentPage{
	width:32px;
	height:32px;
	float:left;	
}

#formPager{
	float: left;
}

#formPageOptions{
	float:right;
}

#formPageOptions div{
	float:left;
}

#prevPage{
	width:32px;
	height:32px;
	background-image:url('icons/back.png');
	opacity:0.3;
	float:left;	
}
#nextPage{
	width:32px;
	height:32px;
	background-image:url('icons/forward.png');
	opacity:0.3;
	float:left;	
}

#addPage{
	width:32px;
	height:32px;
	background-image:url('icons/page.png');
	background-repeat:no-repeat;
	cursor: pointer;
}

#editPage{
	width:32px;
	height:32px;
	background-image:url('icons/settings.png');
	background-repeat:no-repeat;
	cursor: pointer;		
}

#deletePage{
	width:32px;
	height:32px;
	background-image:url('icons/rubbish-bin.png');
	opacity:0.3;
}
