#formEditorBody{
}

#formEditor{
	width: 500px;
	min-height:300px;
	position:relative;		
}

#formEditorLeftPanel{
	width: 500px;
	float:left;
	z-index:1;
	overflow:hidden;
}

#formEditorRightPanel{
	width:300px;
	float:left;
	z-index:30000;
}

#formPagesBox{
	float:left;
	padding:5px;
}

.sortingInProgress{
	border: 1px dotted;	
}

.progressBarWrapper{
	background-color: #000;
	opacity: 0.4;
	z-index:9000;
	border-radius: 10px;
}

.generatingInProgress{
  	background: url("icons/ajax-loader.gif") no-repeat scroll 0 0 transparent;
    height: 15px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: 128px;
}


#formEditorToolbox{
	padding:20px;
	border: 1px solid #eee;
	border-radius: 5px;
	background: -moz-linear-gradient(#fff, #ddd);
	box-shadow: 2px 1px 0px 3px #ccc;
	float:left;
}

#formEditorToolbox .boxTitle{
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -20px;
	background: -moz-linear-gradient(#fff, #ddd);
	padding: 10px;
	border-bottom:1px solid #eee;
}

.postbox .inside{
	overflow:hidden;
}

div.sampleInputElement{
	border: 1px solid #aaa;
	border-radius: 10px;
	padding:8px;
	cursor:pointer;
	box-shadow: inset 0px 1px 3px 0px #aaa;
	
	background: #fff;
	background: -moz-linear-gradient(#fff, #ddd);
	background: -o-linear-gradient(#252525, #0a0a0a);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a));
	background: -webkit-linear-gradient(#252525, #0a0a0a);
	
	overflow: hidden;	
}

div.sampleInputElement .title{
    float: left;
    font-weight: bold;
    padding-top: 10px;
    width: 200px;
}

.sampleInputElement .descriptionBoxButton{ 
	width:32px;
	height:32px;
	background-image:url('icons/help.png');
	background-repeat:no-repeat;
	float:right;
	opacity:0.5;
}

.sampleInputElement .descriptionBoxButton:hover{
	opacity:1;
}

div.sampleInputElement div.descriptionBox{
	display:none;
    float: left;
    width: 100%;	
}

.dropEvent{
	background-color:red;
}


.formPage{
	height: 200px;
    margin: 0 auto;
    width: 400px;
	float: left;
	z-index:-1;
}

.active{
	z-index: 1;
}

#formInputElements ul li{
	display: block;
	width: 100%;
	float: left;
}

#formInputElements div.inputElement{
	width:200px;
	height:32px;
	float:left;
	padding:5px 0px 5px 0px;
}

div.options{
	width:32px;
	height:32px;
	background-image:url('icons/tools.png');
	background-repeat:no-repeat;
	cursor: pointer;
	float:right;
}
#windowWrapper{
	display: none;
}
#currentPage{
	width:32px;
	height:32px;
	float:left;	
}

#formPager{
	float: left;
}

#formPageOptions{
	float:right;
}

#formPageOptions div{
	float:left;
}

.formPager{
	width:32px;
	height:32px;
	opacity:0.3;
	float:left;	
}

#prevPage{
	background-image:url('icons/back.png');
}
#nextPage{
	background-image:url('icons/forward.png');	
}

.activePager{
	opacity:1;
	cursor:pointer;
}

#addPage{
	width:32px;
	height:32px;
	background-image:url('icons/page.png');
	background-repeat:no-repeat;
	cursor: pointer;
}

#editPage{
	width:32px;
	height:32px;
	background-image:url('icons/settings.png');
	background-repeat:no-repeat;
	cursor: pointer;		
}

#deletePage{
	width:32px;
	height:32px;
	background-image:url('icons/rubbish-bin.png');
	opacity:0.3;
}

